<!doctype html>
<html lang="en">
<% include header.ejs %>
<body>
<% include navbar.ejs %>

<div class="container app mt-5">
    <div class="row">
        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
            <h4>Forgot Password</h4>
            <hr class="my-4">
            <form action='/forgot-password' method="post">
                <div class="form-group">
                    <b>Enter your account's email address and we will send you a password reset link.</b>
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input id="email" type="email" name="email" class="form-control" placeholder="Enter email" required>
                    <% if (messages.errors.length) { %>
                        <small class="form-text text-danger"><%= messages.errors %></small>
                    <% } %>
                </div>

                <button type="submit" class="btn btn-dark btn-block mb-3">Send Email</button>

                <div class="form-group">
                    <% if (messages.info.length) { %>
                        <small class="form-text"><%= messages.info %></small>
                    <% } %>
                </div>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            </form>
        </div>
        <div class="col-sm-2 col-md-3"></div>
    </div>
</div>

<% include footer.ejs %>
</body>
</html>